.popup__close-button {
    background-image: url(../../../images/Close.svg);
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    width: 32px;
    height: 32px;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 580px) {
    .popup__close-button {
      width: 20px;
      height: 20px;
      right: 0;
      top: -36px;
    }
  }


  .popup__close-button:hover {
    opacity: 0.6;
  }


