.header__link {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  margin: 0;
  padding: 0;
  border: none;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
