.header__link-button {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  margin-left: 24px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header__link-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__link-button {
    font-size: 14px;
    line-height: 17px;
  }
}
